.title{
    text-align: center;
    margin-top:4rem;
}
.message-container{
    width:100%;
    text-align: center;
}
.title-message{
    text-align: center;
    margin-top:4rem;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    width:100%;
    background-color: black;
}